body {
    font-family: 'Kalam', cursive;
    background: white;
    overflow-x: hidden;
}

.icon-top {
    background: #605F5E
}

.icon-top a {
    color: white;
    font-size: 25px;
    transition: color 1s ease-in-out;
}

.icon-top a:hover {
    color: black;
}

/* navbar==================================== */

.navbar {
    background: black;
    padding: 10px 20px;
    transition: padding 2s ease;
}

.navbar-background {
    padding: 2px 20px;
}

.navbar-brand {
    color: #605F5E;
    border: 3px solid #605F5E;
    font-size: 30px;
    transition: all 2s ease;
}

.navbar-brand:hover {
    background: #605F5E;
    color: black;
}

.bar1, .bar2, .bar3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    background: #605F5E;
    transition: all 0.5s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}

.nav-link {
    color: white;
    font-size: 25px;
    padding: 10px 20x!important;
    border-radius: 5px;
    transition: background 2s ease;
}

.nav-link:hover {
    background: #605F5E;
    color: white;
}

.nav-active {
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    background: #303030;
    opacity: 0.6;
}

.search-btn {
    background: #605F5E;
    transition: all 1s ease;
}

.search-btn:hover {
    color: #605F5E;
    background: #191919;
}

.navbar-toggler {
    border: 3px solid #605F5E;
    padding: 3px;
}

/* slider ==================================*/

.item-1, .item-2, .item-3 {
    min-height: 60vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%)
}

.item-1 {
    background: linear-gradient(to right, rgba(68, 68, 68, 0.2), rgba(198, 196, 196, 0.5)), url(images/coding.jpeg)center/cover fixed no-repeat;
}

.item-2 {
    background: linear-gradient(to right, rgba(68, 68, 68, 0.2), rgba(198, 196, 196, 0.5)), url(images/rocky-game-winner.jpg);
    /* center/cover fixed no-repeat; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-3 {
    background: linear-gradient(to right, rgba(68, 68, 68, 0.1), rgba(198, 196, 196, 0.5)), url(images/mountain2.jpg)center/cover fixed no-repeat;
}

.no-padding {
    padding: 0;
}

.banner-btn {
    color: #fffffa;
    border: 2px solid #fffffa;
    transition: all 1s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.banner-btn:hover {
    color: #605F5E;
    background: #fffffa;
    transform: translateY(-7px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

/* media query max-width 600========================================================================== */

@media only screen and (max-width: 753px) {
    .item-1 {
        background: linear-gradient(to right, rgba(68, 68, 68, 0.2), rgba(198, 196, 196, 0.5)), url(images/coding.jpeg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item-2 {
        background: linear-gradient(to right, rgba(68, 68, 68, 0.9), rgba(198, 196, 196, 0.5)), url(images/slask.jpeg);
        /* center/cover fixed no-repeat; */
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item-3 {
        background: linear-gradient(to right, rgba(68, 68, 68, 0.1), rgba(198, 196, 196, 0.5)), url(images/narrows.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carousel-caption {
        bottom: -60px;
    }
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        font-size: 10px;
    }
    .btn-group>.btn:not(:first-child) {
        font-size: 9px;
    }
    #modal-filler {
        min-height: 56vh;
        background: linear-gradient(to right, rgba(68, 68, 68, 0.7), rgba(198, 196, 196, 0.5)), url(images/DSC_1615.jpg) no-repeat center center initial;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

;
#contact-form {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/mountain3.jpg)center/cover fixed no-repeat;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

}

@media only screen and (width: 766px) {
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        font-size: 15px;
    }
    .btn-group>.btn:not(:first-child) {
        font-size: 15px;
    }
}

/* title==================================================== */

.title h1 {
    color: #242424;
}

.title h3 {
    color: #5a5a5a;
}

.title-underline {
    height: 5px;
    width: 250px;
    background: #605F5E;
    margin: -28px auto 0 auto;
}

.title a {
    color: #605F5E;
    font-size: 30px;
    padding: 0 10px;
    display: inline-block;
    background: white;
}

/* skills ======================================================*/

.skills-icon {
    background: #242424;
    transition: all 1s ease;
    -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
}

.skills-icon:hover {
    background: #605F5E;
}

.skills-icon span {
    transition: all 1s ease-in-out;
}

.skills-icon span:hover {
    color: white;
}

/* about section=========================================== */

#about {
    min-height: 40vh;
    background: #909090;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.blockquote-footer {
    background: transparent
}

/* video-filler============================================= */

#modal-filler {
    min-height: 56vh;
    background: linear-gradient(to right, rgba(68, 68, 68, 0.7), rgba(198, 196, 196, 0.5)), url(images/DSC_1615.jpg)center/cover fixed no-repeat;
}

#modal-filler a {
    color: #242424;
    font-size: 80px;
    animation: myAnimation 5s ease infinite
}

@keyframes myAnimation {
    50% {
        transform: scale(1.5);
        color: #f1fffa;
    }
}

/* project section=============================================== */

#projects button {
    background: #605F5E;
    color: #fffffa;
    transition: all 1s ease-in-out;
}

#projects button:hover {
    background: #242424;
}

.img-container {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(242, 242, 242, 0.9), rgba(242, 242, 242, 0.5))
}

.img-container img {
    opacity: 1;
    transition: all 2s ease-in-out;
}

.img-container:hover .project-image {
    opacity: 0.3;
    transform: scale(1.3)
}

.search-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #605F5E;
    transition: margin 2s ease-in-out, color 0.5s ease-in-out, opacity 0.75s ease-in-out;
    margin-top: -50%;
    opacity: 0;
}

.img-container:hover .search-link {
    margin-top: 0;
    opacity: 1;
    transform: scale(1.3);
}

.search-link:hover {
    color: #242424;
}

/* current projects================================================= */

.about-text a {
    color: #f1fffa;
    background: #605F5E;
    border: 2px solid #605F5E;
    transition: all 1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.about-text a:hover {
    color: #605F5E;
    background: #f1fffa;
    border-color: 2px solid #f1fffa;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

#current-project {
    background: #909090;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.current-project-photo {
    position: relative;
    min-height: 50vh;
}

.current-project {
    width: 50%;
    height: 60%;
    position: absolute;
    transition: all 2s ease-in-out;
}

.current-project-2 {
    top: 0;
    left: 10%;
    transform: rotate(-15deg);
    z-index: 20;
}

.current-project-3 {
    top: 0;
    left: 46%;
    transform: rotate(8deg);
    z-index: 30;
}

/* .current-project-3{
    top: 40%;
    left: 3%;
    transform: rotate(-5deg);
} */

.current-project:hover {
    transform: scale(1.1);
    z-index: 50;
}

/* values section============================================= */

.value {
    position: relative;
}

.value-icon {
    font-size: 60px;
    color: #f1fffa;
    background: #242424;
    padding: 25px 35px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 2s ease;
}

.value-number {
    padding: 15px;
    background: #605F5E;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    font-size: 20px;
    top: -12%;
    left: 57%;
    transition: all 2s ease;
    color: #242424;
}

.value:hover .value-icon {
    background: #605F5E;
    transform: scale(1.2);
}

.value:hover .value-number {
    background: #242424;
    color: #f1fffa;
    transform: scale(0.9);
}

/* contact section=========================================== */

#contact-form {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/mountain3.jpg)center/cover fixed no-repeat;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.height-30 {
    min-height: 30vh;
}

#contact-form h1 {
    color: #f1fffa;
}

.contact-icon {
    color: #605F5E;
    font-size: 30px;
}

/* footer====================================================== */

footer {
    background: #242424;
}

.footer-icons a {
    color: #605F5E;
    font-size: 25px;
    transition: color 1s ease;
}

.footer-icons a:hover {
    color: #f1fffa;
}

footer h5 {
    color: #f1fffa;
}