body {
    font-family: 'Kalam', cursive;
    background: white;
}
.icon-top{
    background: #605F5E
}
.icon-top a{
    color: white;
    font-size: 25px;
    transition: color 1s ease-in-out;

}
.icon-top a:hover{
    color: black;
}